.gal {
    color: black;
    margin-top: 30px;
    margin-right: 60px;
    margin-left: 60px;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.gallery {
    height: 50%;
    width: 60%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
}

.image-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 8px;
}

.image-box:hover {
    flex-basis: 30%;
}

.active {
    flex-basis: 30%;
}

.gallery:hover .active {
    flex-basis: 0;
}

.image-box:nth-child(1):hover {
    flex-basis: 30%;
}

.box1, .box2, .box3 {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

.box1 {
    background-image: url('../assets/box1.jpg');
    min-height: 100vh;
}

.box2 {
    background-image: url('../assets/box2.jpg');
    min-height: 90vh;
}

.box3 {
    background-image: url('../assets/box3.jpg');
    min-height: 90vh;
}

.box1::before, .box2::before, .box3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the opacity and color as needed */
    z-index: 1;
}

.box1 *, .box2 *, .box3 * {
    position: relative;
    z-index: 2;
}