/* Import the necessary fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Rest of the CSS */
.section_padding {
    padding: 2rem;
}
.footer {
    background-color: black;
    font-family: 'Lato', sans-serif; /* Apply Lato font to the entire footer */
}
/* Remaining CSS rules */

.sb_footer{
    display: flex;
    flex-direction: column;
}
.sb_footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align:center;
    margin-bottom: 2rem;
    margin-left:34rem;
}

.sb_footer-links_div{
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
    margin-bottom: 1rem; /* Add some bottom margin for spacing */
    align-items: flex-start; /* Align items to the start of the container */
}



a{
    color:rgb(2, 0, 39);
    text-decoration: none;
    color: white;
}
.socialmedia{
    display: flex;
    flex-direction: row;
}
.socialmedia img {
    width: 1.7rem; /* Adjust the width of the images */
    margin-right: 20px; /* Add more spacing between the images */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow to make them standout */
    border-radius: 5px; /* Add border radius for a softer look */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smoother hover effect */
}

.socialmedia img:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Darken the box shadow on hover */
}


.sb_footer-links_div h4{
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
}
.sb_footer-links_div p{
    font-size: 12px;
    line-height:15px;
    margin:0.5rem 0;
    cursor: pointer;
}
.sb_footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0.2rem;
}
.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}
.sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
}
hr{
    color: white !important;
    width: 100%;
}
.sb_footer-copyright p{
    font-size:13px;
    line-height:15px;
    color: rgb(255,255,255);
    font-weight:600;
}
@media screen and (max-width:850px) {
    .sb_footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and (max-width:550px){
.sb_footer-heading h1{
    font-size: 34px;
    line-height: 42px;
}
.sb_footer-links div{
    margin:1rem 0;
}
.sb_footer-btn p{
    font-size: 14px;
    line-height: 20px;
}
.sb_footer-below{
    flex-direction: column;
    justify-content: left;
}
.sb_footer-below-links{
    flex-direction: column;
}
.sb_footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;

}

}
@media screen and (max-width:400px){
    .sb_footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}
